.password-input-container {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.password-input-time{
    display: flex;
    margin-top: 20px;
}

.password-input {
    padding: 10px 15px;
    flex: 1;
    border: 2px solid #cac9c9;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.5s ease;
    background-color: var(--card-bg);
    color: var(--text-color);
}

.password-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    background-color: transparent;
}

.password-input::placeholder {
    color: var(--primary-color);
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.password-toggle-btn {
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

.password-toggle-btn:hover {
    filter: brightness(0.95);
}

.password-toggle-btn:active {
    transform: scale(0.95);
}